<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-navigation></app-navigation>
  <div class="bg"></div>

  <h5>
    <p>
      This rolodex application was built in Angular, Mongo, Express, and Node.
    </p>
    <p>
      The client side is built in Angular and accesses my REST API built with Node/Mongo.
      The hosting is done by Express.
    </p>
    <p>
      All four CRUD operations are executed through the REST API.
    </p>
  </h5>
  <div class="data_table">
    <router-outlet></router-outlet>

  </div>
</div>
