<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand" href="#">
  <img src="../../assets/spotify.png" width="30" height="30" class="d-inline-block align-top" alt="">
  My Spotify</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<div class="mx-auto">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link h6" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h6" routerLink="/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h6" routerLink="/new">New Releases</a>
        </li>
      </ul>
    </div>
  </div>
  <form #search="ngForm" (ngSubmit)="searchSpotify()" class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" name="searchQuery" type="search" placeholder="Search" aria-label="Search"  [(ngModel)]="query.term">
  <a routerLink="/search/{{query.term}}"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></a>
</form>

  </nav>
