<div *ngIf="!adding">
  <button id="addbtn" class="btn btn-info btn-lg " (click)="changeAdding()">
    Add a Post!
  </button>
  <div class="container">
    <div class="card-columns">
      <div class="card text-dark" *ngFor="let article of articleData">
        <a [routerLink]="['article', article._id]">
          <h4 class="card-header">{{article.title}}</h4>
        </a>
        <h5 class="card-body"> By:{{article.author}} </h5>
        <div class="card-footer"> <button class="btn=info btn-lg" (click)="deleteArticle(article._id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="adding">
  <form #newArticleForm="ngForm" (ngSubmit)="newArticle()">
    <button class="btn btn-info btn-lg " (click)="changeAdding()">
      Cancel
    </button>
    <input id="title" required minlength="1" type="text" class="form-control mr-sm-2" name="name" placeholder="name" [(ngModel)]="article.title">
    <input #author required minlength="1" type="text" class="form-control mr-sm-2" name="author" placeholder="author" [(ngModel)]="article.author">
    <textarea id="article" required minlength="1" class="form-control mr-sm-2" rows="10" name="content" placeholder="content" [(ngModel)]="article.article"></textarea>
    <button class="btn-info btn-lg " [disabled]="!newArticleForm.valid">Add</button>
  </form>
</div>
